{% extends "page.html" %}

    {% block content %}
        <h1>GSQ's Structural Framework Linked Data Product</h1>
        <p>This is an API that delivers GSQ's <a href="https://gisservices.information.qld.gov.au/arcgis/rest/services/GeoscientificInformation/StructuralFramework/MapServer">Structural Framework data holdings</a> online as <a href="https://www.w3.org/standards/semanticweb/data">Linked Data</a>.</p>
        <p>To do this, the tool uses the <a href="http://linked.data.gov.au/def/sweetgeofeatures">SWEET Geological Features Profile Ontology</a> as its main data model and the series of GSQ Structural Framework <a href="https://gisservices.information.qld.gov.au/arcgis/rest/services/GeoscientificInformation/StructuralFramework/MapServer">data web services</a> for its information.</p>

        <h2>Code</h2>
        <p>The code for this application is online at <a href="https://github.com/CSIRO-enviro-informatics/asgs-dataset">xxxx</a>.</p>

        <h2>License</h2>
        <p>The content of this API is licensed for use under the GNU v3 License. See the <a href="LICENSE">license deed</a> for details.</p>

        <h2>Contacts</h2>
        <p>If stuff breaks or doesn't work the way you expect it should or you want things extended, either add issues to the codebase (see above) or contact:</p>
        <p style="margin-top: 10px;">
            <strong>Nicholas Car</strong><br />
            <em>Data Systems Architect</em><br />
            <a href="https://surroundaustralia.com">SURROUND Australia Pty Ltd</a><br />
            Brisbane, Queensland<br />
            <a href="mailto:nicholas.car@surroundaustralia.com">nicholas.car@surroundaustralia.com</a><br />
            ORCID: <a href="https://orcid.org/0000-0002-8742-7730">0000-0002-8742-7730</a>
        </p>

    {% endblock %}