{% extends "page.html" %}

    {% block content %}
        <h1>Queensland's Geological Features API</h1>
        <p>This is an API that delivers information about specific geological (sometimes "geologic") features within the Australian state of Queensland. The data is sourced from the <a href="https://github.com/geological-survey-of-queensland/qldgeofeatures-dataset">Qld GeoFeatures Dataset</a>. That data is formulated according to the <a href="http://linked.data.gov.au/def/geofeatures">GeoFeatures Ontology</a> which is a profile of the <a href="https://locationindex.org">Location Index (LocI)</a> project's ontology. This means Qld GeoFeatures data is conformant with the LocI project requirements.</p>

        <h2>Views of this Dataset</h2>
        <p>The content here is served by the API and individual parts of it cab en accessed vie the API, but it can also be described as a single Dataset also. You are currently looking at the HTML format of this <a href="https://www.w3.org/TR/vocab-dcat-2/">DCAT</a> view, or <em>profile</em> of the Dataset.</p>
        <p>Other profiles and formats of this dataset are listed at the:</p>
        <ul>
          <li><a href="?_profile=alt">Alternate Profiles listing</a></li>
        </ul>
        <h2>Use</h2>
        <p>Try the links above to brows the Provinces stored in this dataset by type (Craton, Orogen etc.) or list Provinces by age.</p>
        <h2>Code</h2>
        <p>The code for this application is online in a Git code repository at <a href="https://github.com/geological-survey-of-queensland/qldgeofeatures-api">https://github.com/geological-survey-of-queensland/qldgeofeatures-api</a>.</p>

        <h2>License</h2>
        <p>The content of this API is licensed for use under the GNU v3 License. See the <a href="LICENSE">license deed</a> for details.</p>

        <h2>Contacts</h2>
        <p>If stuff breaks or doesn't work the way you expect it should or you want things extended, either add issues to the codebase (see above) or contact:</p>
        <p style="margin-top: 10px;">
            <strong><a href="<https://www.business.qld.gov.au/industries/mining-energy-water/resources/geoscience-information/gsq> ">Geological Survey of Queensland</a></strong><br />
            Within the <a href="https://www.dnrme.qld.gov.au">Queensland Department of Natural Resources, Mines and Energy</a><br />
            1 William St, Brisbane, Queensland, Australia<br />
            <a href="mailto:GSQOpenData@dnrme.qld.gov.au">GSQOpenData@dnrme.qld.gov.au</a>
        </p>
    {% endblock %}